<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mongo Scraper</title>
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
</head>

<body>
    <!--HEADER-->
    <header role="banner" class="shadowed">
        <div class="page-wrap clearfix">
            <a href="/" id="logo">Mongo Scraper</a>
            <nav id="main-nav" role="navigation">
                <ul>
                    <li class>
                        <a href="/saved">Saved Books</a>
                    </li>
                    <li class>
                        <a href="/">Home</a>
                    </li>
                </ul>
            </nav>
            <a href="#nav" id="toggle">
                <span aria-hidden="true" class="icon-menu"></span>
            </a>
        </div>
    </header>
    <!--HOME-->
    <section id="home" data-speed="10" data-type "background" style="background-position: 50% 0px;">
        <div class="page-wrap">
            <h1 class style="font-size: 70px;">Mongo Scraper</h1>
            <h2 class>
                A website dedicated to scraping listings from BooksToScrape
            </h2>
            <form action="/scrape" method="GET">
			    <button class="button check-work" type="submit" id="refresh-articles">Scrape Newest Books</button>
		    </form>
        </div>
    </section>
    <section id="articles" data-speed="10">
        <div class="page-wrap">
            {{{ body }}}
        </div>
    </section>

    <div id="addnote">
		<div id="note-displayer">
			<h2>Note</h2>
			<h3>Article: <span id="article-title"></span></h3>
			<div id="note">
				<label for="note-title">Title</label><br>
				<input type="text" placeholder="Title" name="title" id="note-title"><br>
				<label for="note-body">Note</label><br>
				<textarea rows="7" placeholder="Note" id="note-body"></textarea><br>
				<button type="submit" id="add-note">Save Note</button>
				<button type="button" id="close-note">Cancel</button>
			</div>
		</div>
	</div>

    <!--FOOTER-->
    <footer>
        <div class="page-wrap">
            <p id="copy">
                <span>&copy 2018
                    <a href="mailto:josephshannonquinn@gmail.com">Joseph Quinn</a>
                </span>
            </p>
            <div class="follow-links-container">
                <ul id="follow-links">
                    <li id="follow-twitter">
                        <a href="#">
                            <span aria-hidden="true" class="icon-twitter"></span>
                            Follow me on Twitter
                        </a>
                    </li>
                    <li id="follow-twitter">
                        <a href="#">
                            <span aria-hidden="true" class="icon-twitter"></span>
                            Follow me on Twitter
                        </a>
                    </li>
                </ul>
            </div>
            <p id="footer=about">
                This site was built with great tools like
                <a href="#">Visual Studio Code</a>
                ,
                <a href="#">Another tool</a>
                &
                <a href="#">a final tool</a>
                .
            </p>
        </div>
    </footer>
</body>

</html>